.navbarBrand {
  font-size: 3rem;
  margin-left: 4rem;
}
.navLinks {
  font-family: 'Sen', sans-serif;
  font-size: 2rem;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations and transitions for people that prefer not to see them */
.collapse {
  justify-content: flex-end;
  font-size: 2rem;
}
.navbar-brand {
  font-size: 3rem;
  margin-left: 4rem;
}
.nav-item {
  padding: 2rem;
  font-family: 'Sen', sans-serif;
  font-size: 2rem;
}
.active .nav-link {
  border-bottom: 2px solid orange;
  border-bottom-width: thin;
  padding-bottom: 0;
}
.dropdown a {
  font-size: 2rem;
}
.jumbotron {
  background-image: url("../images/heroImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.jumbotron .container {
  margin-left: 20rem;
  margin-top: 15rem;
}
.jumbotron .container h1 span {
  padding-left: 0.5rem;
  font-size: 6rem;
  border-left: 3px solid #ffdc9b;
}
.jumbotron .container h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 6rem;
}
.jumbotron .container .btn {
  background-color: #a96e00;
  color: #b3b3b3;
  border-radius: 10px;
  border: none;
  padding: 2rem;
  font-size: 2rem;
}
.jumbotron .container .btn:hover {
  color: black;
  background-color: rgba(169, 110, 0, 0.404);
}
.jumbotron .vertical h3 {
  font-size: 2rem;
  color: white;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  margin-top: 10%;
  margin-left: 10rem;
  border-right: 1px solid orange;
  padding-top: 25rem;
  text-transform: uppercase;
  transform: rotate(180deg);
}
.outer-bound {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.outer-bound .jumbotron:nth-child(1) {
  background-image: url("../images/side1.jpg");
}
.outer-bound .jumbotron:nth-child(2) {
  background-image: url("../images/side2.jpg");
}
.outer-bound h1 {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
}
.outer-bound div .container-fluid {
  display: grid;
  height: 100%;
  align-items: end;
  margin: 0;
  align-content: end;
  text-align: center;
}
.outer-bound div .container-fluid ion-icon {
  font-size: 2rem;
  color: white;
}
.outer-bound div .container-fluid button {
  justify-self: center;
  color: orange;
  width: 10rem;
  font-size: 2rem;
  padding-right: 0;
  margin-right: 0;
}
@media (max-width: 800px) {
  .outer-bound {
    margin: 0 auto;
    max-width: 100%;
    grid-template-columns: 1fr;
  }
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
/*# sourceMappingURL=index.css.map */