// imports statements
@import "reset.less";
// end import statements

.outside {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}
.my-background > div{
  background-color:pink;
  margin: 1rem;
  border: 1px solid white;
}
.my-background div{
  margin: 1rem;
  border: 1px solid black;
}