.rightside{
    min-height: 1000px;  
    background-image: url("../images/side2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
  }
  .leftside {
    min-height: 1000px;  
    background-image: url("../images/side1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
  }
  .leftside button{
    justify-self: center;
    color: orange;
    font-size: 2rem;
    padding-right: 0;
    margin-right: 0;
    background-color: rgba(69, 69, 69, 0.667);

}
.rightside button{
    justify-self: center;
    color: orange;
    font-size: 2rem;
    padding-right: 0;
    margin-right: 0;
    background-color: rgba(69, 69, 69, 0.667);

}
.leftside div{
    h1{
        display: inline-block;
        background-color: rgba(69, 69, 69, 0.667);
    }
    color: rgb(245, 245, 245);
    align-self: flex-end;
    text-align: center;
}
.rightside div{
    h1{
        display: inline-block;
        background-color: rgba(69, 69, 69, 0.667);
    }
    color: rgb(245, 245, 245);
    align-self: flex-end;
    text-align: center;
}
// .outer-bound{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     .jumbotron:nth-child(1){
//         background-image: url("../images/side1.jpg");
//     }
//     .jumbotron:nth-child(2){
//         background-image: url("../images/side2.jpg");
//     }
//     h1{
//         color: white;
//         font-size: 4rem;
//         text-transform: uppercase;
//     }

// div .container-fluid{
//     display: grid;
//     // background-color: rgb(160, 132, 132);
//     height: 100%;
//     align-items: end;
//     margin: 0;
//     align-content: end;
//     text-align: center;
//     ion-icon{
//         font-size: 2rem;
//         color: white;
//     }
  
// }

// }
// @media (max-width: 800px) {
//     .outer-bound {
//         margin: 0 auto;
//       max-width: 100%;
//       grid-template-columns: 1fr;
//     }
//   }
