.outer-bound{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .jumbotron:nth-child(1){
        background-image: url("../images/side1.jpg");
    }
    .jumbotron:nth-child(2){
        background-image: url("../images/side2.jpg");
    }
    h1{
        color: white;
        font-size: 4rem;
        text-transform: uppercase;
    }
    
div .container-fluid{
    display: grid;
    // background-color: rgb(160, 132, 132);
    height: 100%;
    align-items: end;
    margin: 0;
    align-content: end;
    text-align: center;
    ion-icon{
        font-size: 2rem;
        color: white;
    }
    button{
        justify-self: center;
        color: orange;
        width: 10rem;
        font-size: 2rem;
        padding-right: 0;
        margin-right: 0;
    }
   
}

}
@media (max-width: 800px) {
    .outer-bound {
        margin: 0 auto;
      max-width: 100%;
      grid-template-columns: 1fr;
    }
  }